In [ ]:
#Agents' strategies

In [1]:
strategies=['Rock','Paper','Scissors','Spock','Lizard']

In [ ]:
#Rule

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Paper'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Paper'):(0,1),
        ('Paper','Lizard'):(1,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Spock'):(0,0)}

In [ ]:
#Setting up agents

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

#simples: choose randomly
choice(strategies)

'Paper'

In [ ]:
#Game on!

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Paper'}]

In [ ]:
#Current move

In [7]:
Players[0]['strategy'],Players[1]['strategy']

('Lizard', 'Paper')

In [8]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [ ]:
#Agent benefits and suffers

In [9]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [10]:
# current agent situation
Players

[{'name': 'John', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Paper'}]

In [ ]:
#Social outcomes

In [11]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      0   Lizard
1  Mary      1    Paper

In [12]:
winnerScore=socialResults.score.max()
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Mary      1    Paper

In [ ]:
#Enter more players

In [13]:
names=['Jim','Jane','Peter','Zoe']

In [14]:
society=[{'name':n,'score':0,'strategy':None} for n in names]
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [15]:
import itertools 
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [16]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [17]:
# Final situation
society

[{'name': 'Jim', 'score': 124, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 117, 'strategy': 'Scissors'},
 {'name': 'Peter', 'score': 128, 'strategy': 'Scissors'},
 {'name': 'Zoe', 'score': 115, 'strategy': 'Spock'}]

In [18]:
# Data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim    124     Paper
1   Jane    117  Scissors
2  Peter    128  Scissors
3    Zoe    115     Spock

In [19]:
winnerScore=socialResults.score.max()

#Social outcome
socialResults[socialResults.score==winnerScore]

    name  score  strategy
2  Peter    128  Scissors